<html>
  <head>

</head>


<style>
  
  h1{
    color:blue;
    font-size: xx-large;
    background:bisque;
    text-align: center;
  }
  p{
    text-align: center;
  }
</style>
<body>
  <h1>Abdul kalam</h1>
<center><image src="https://tse1.mm.bing.net/th?id=OIP.fJJdGP4R4ptuFim1d28RmgHaEK&pid=Api&P=0&h=180"></image></center>
<p>vul Pakir Jainulabdeen Abdul Kalam (Tamil: அவுல் பகீர் ஜைனுலாப்தீன் அப்துல் கலாம்; audio speaker iconpronunciation (help·info); 15 October 1931 – 27 July 2015) usually known as A.P.J. Abdul Kalam, was a famous Indian aerospace engineer. He was the 11th President of India, from 2002 to 2007.[1]

When he was president, he was popularly known as the People's President. He was awarded the Bharat Ratna, India's highest civilian honour in 1997. He has also been a professor (of aerospace engineering). Kalam is the first Chancellor of the Indian Institute of Space Science and Technology Thiruvananthapuram (IIST). He is called as the "Missile Man" of India.[2] <a class="z" href="https://en.wikipedia.org/wiki/A._P._J._Abdul_Kalam">Read more</a></p>

</body>
</html>